* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body { 
    min-height: 100%; 
    font-family: 'Gotham', sans-serif;
    background-image: url('../images/vinedo.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
/* html { 
    background: url('../images/vinedo.JPG') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  } */

.container{
    display: flex;
    align-items: center;
    margin: 8% 13%;
}
.container img{
    width: 170px;
    height: 500px;
    /* border: 2px solid red; */
}
.div_container{
    width: 33.33%;
    display: flex;
    justify-content: center;
}
.div_container_2{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div_container_2 h3,h1{
    margin-top: 15%;
    font-size: 1.6rem;
}
.div_container_2 h1{
    font-size: 130px;
}
@media screen and (min-width:300px) and (max-width:800px) {
    .container{
        display: flex;
        align-items: center;
        margin-top: 55%;
    }
    .container img{
        width: 80px;
        height: 260px;
        /* border: 2px solid red; */
    }
    .div_container_2 h3,h1{
        margin-top: 5%;
        font-size: 1rem;
    }
    .div_container_2 h1{
        font-size: 50px;
    }

}